@font-face {
    font-family: "Organic Relief";
    src: url(/src/assets/fonts/Organic_Relief.eot?) format("eot"),
    url(/src/assets/fonts/Organic_Relief.woff2) format("woff2"),
    url(/src/assets/fonts/Organic_Relief.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Sugarpunch";
    src: url(/src/assets/fonts/Sugarpunch.woff2) format("woff2");
    font-style: normal;
    font-weight: bold;
}